<footer class="footer">
  <div class="content has-text-centered">
    <p>EduETICA - Pagina web educativa que enseña sobre la etica profesional</p>
    <p>
      © 2023 Douglas Montoya. Este trabajo está licenciado bajo una
      <a href="https://creativecommons.org/licenses/by-nc-nd/4.0/"
        >Licencia Creative Commons Atribución-NoComercial-SinDerivadas 4.0
        Internacional</a
      >.
    </p>
  </div>
</footer>
</html>
