<div id="modal-js-example" class="modal">
  <div class="modal-background"></div>

  <div class="modal-content">
    <div class="box">
      <p>
        ¡Advertencia! Recuerde que mientras se equivoque se le restaran 40
        puntos y esto afectara considerablemente el puntaje total y por ende la
        nota. Es por ello que si no esta preparado vuelva al modulo y repase el
        contenido. Por otra parte, si pasa la prueba exitosamente se le sunmaran
        100 puntos. Suerte.
      </p>
    </div>
  </div>

  <button class="modal-close is-large" aria-label="close"></button>
</div>
