<%- include ("layouts/header.ejs") %>

<div class="container">
  <section class="section">
    <h2 class="title is-2">Modulo 1 - Introduccion</h2>
    <div class="is-flex is-flex-direction-column is-align-items-center">
      <img
        src="/images/info.png"
        alt="Imagen que representa lo que es la etica profesional"
        width="400"
        style="border-radius: 10px;"
      />
      <button class="button is-primary mt-4" id="nexButton">Siguiente</button>
    </div>
  </section>
</div>
<script src="/javascripts/jquery.min.js"></script>
<script>
    $('#nexButton').on('click', ()=>{
        $.ajax({
                url: '/modules/module-one',
                type: 'POST',
                success: function (response) {
                    $('#score').text(`${response.score}`);
                  window.location.href = 'module-two';
                },
                error: function (response) {
                    alert('Error al procesar los datos')
                }
            })
    });
</script>

<%- include ("layouts/footer.ejs") %>