<%- include layouts/header.ejs %>

<div class="hero-body is-justify-content-center is-flex-direction-column">
    <h2 class="title is-2 has-text-primary"><%= title %></h2>
    <a class="button is-primary is-outlined" href="/login" >Iniciar Sesion</a>
  </div>
</div>
</div>