<form action="" class="columns is-flex is-flex-direction-column">
    <h3 class="title is-3">Crear Clase</h3>
    <div class="column">
      <label for="name-class">Nombre de la Clase</label>
      <input
        class="input is-primary"
        type="text"
        placeholder="Nombre de la Clase"
        name="name-class"
        maxlength="50"
        required
      />
    <button class="button is-success mt-4" type="submit">Crear</button>
  </form>